/* dia14.css */
label, input{
	display: block;
}

.campo{
	display: block;
	margin: 20px 0;
}
.fieldset{
	border: none;
}

.fieldset legend{
	font-family: Helveica;
	font-size: 1.4em;
	font-style: italic;
	padding-bottom: 10px;
	border-bottom: 1px soli #F3F7F7;
	}
}

.campo label{

}

.campo input{
	padding: 10px 20px;
	border: 1px solid #C8CBD8;
	background-color: #E7FDFF;
	color: #C0C0C0;
}

.inner label,
.inner input {
	display: inline;
}